body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 100vh;
    gap:2rem;
    /* background-color: black; */
}
.my-1 {
    margin: 1rem 0;
}

.mx-1 {
    margin: 0 1rem;
}
.error{
    font-size: 14px;
    color: red;
    display: none;
}
#generateRandomPassword , #textutils{
    border: solid;
    padding: 2rem;
}
#randompass{
    width: 85%;
    height: 4vh;
    font-size: 18px;
    text-align: center;
}
h2{
    text-align: center;
}
.textareainfo{
    display: flex;
    gap: 1rem;
}
.inputdiv{
    display: flex;
    gap:10px;
}
.textutilsbtns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.textcasebtn, .clearcopycutbtn, .generatebtns{
    display: flex;
    gap: 1rem;
}
#txtbox{
    width: 100%;
    resize: vertical;
}
.notworking{
    height: 15px;
    position: absolute;
    top:-45%;
    right: -10%;
    transform: rotate(10deg);
}
#paste, #paste2{
    position: relative;
}
