*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    flex-direction: row;
    border: solid;
}
.box{
    height: 8vh;
    width: 10%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.dice1{
    height: 8vh;
    width: 8vh;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    
}
.dice1wrapper{
    position: absolute;
    bottom: 10%;
    left: 1%;
}
.dice2wrapper{
    position: absolute;
    bottom: 10%;
    right: 1%;
}
.dice2{
    height: 8vh;
    width: 8vh;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.coin1{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;

}
.coin2{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}
.coinimg{
    height: 5vh;
    width: 4vh;
}

#box4ladder{
    height: 25%;
    width: 10%;
    position: absolute;
    bottom: 2%;
    left: 35%;
    transform: rotate(30deg)
}
#box13ladder{
    height: 48%;
    width: 10%;
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: rotate(-48deg)
}
#box33ladder{
    height: 18%;
    width: 10%;
    position: absolute;
    bottom: 30%;
    left: 75%;
    transform: rotate(45deg)
}
#box42ladder{
    height: 30%;
    width: 10%;
    position: absolute;
    bottom: 40%;
    left: 15%;
    transform: rotate(35deg)
}
#box50ladder{
    height: 30%;
    width: 10%;
    position: absolute;
    bottom: 40%;
    right: 5%;
    transform: rotate(-35deg)
}
#box62ladder{
    height: 30%;
    width: 10%;
    position: absolute;
    bottom: 60%;
    left: 5%;
    transform: rotate(-35deg)
}
#box74ladder{
    height: 43%;
    width: 10%;
    position: absolute;
    bottom: 63%;
    right: 20%;
    transform: rotate(55deg);
}
#box27snake{
    height: 35%;
    width: 10%;
    position: absolute;
    top: 70%;
    right: 40%;
    transform: rotate(80deg);
}
#box40snake{
    height: 42%;
    width: 10%;
    position: absolute;
    top: 58%;
    left: 9%;
    transform: rotate(-30deg);
}
#box43snake{
    height: 30%;
    width: 10%;
    position: absolute;
    top: 55%;
    left: 22%;
    transform: rotate(20deg);
}
#box54snake{
    height: 60%;
    width: 10%;
    position: absolute;
    top: 26%;
    left: 73%;
    transform: rotate(-55deg);
}
#box66snake{
    height: 30%;
    width: 10%;
    position: absolute;
    top: 32%;
    left: 45%;
    transform: rotate(80deg);
}
#box76snake{
    height: 40%;
    width: 10%;
    position: absolute;
    top: 15%;
    left: 32%;
    transform: rotate(85deg);
}
#box89snake{
    height: 40%;
    width: 10%;
    position: absolute;
    top: 10%;
    right: 15%;
    transform: rotate(60deg);
}
#box99snake{
    height: 55%;
    width: 10%;
    position: absolute;
    top: 2%;
    left: 5%;
    transform: rotate(40deg);
}
h1{
    padding: 1rem;
}