body{
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
}
div,p{
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 1rem 3rem;
    margin: 10px;
}
