*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
}
select{
    padding: 0.2rem 1rem;
    margin: 1rem 0;
}