#keyevent{
    border: solid;
    display: flex;
    flex-direction: column;
    max-width: 15%;
    padding: 1rem;
    margin: 1rem 0;
}
#keyevent > input{
    margin: 10px 0;
    padding: 5px;
}
.scrollUp{
    position: fixed;
    left: 90%;
    top: 90%;
}
.scrollDown{
    position: fixed;
    left: 90%;
    top:94%;
}
.scrollTop{
    position: fixed;
    left: 90%;
    top:86%;
}